/* src/components/Cell/Cell.css */

.cell {
  width: 30px;
  height: 30px;
  background-color: #8db9e2; /* Azul menos intenso */
  align-items: center;
  justify-content: center;
}

.cell.hit {
  background-color: red; /* Golpe */
}

.cell.miss {
  background-color: gray; /* Fallo */
}

.cell:not(.hit):not(.miss):hover {
  background-color: #6ba8d0; /* Color de fondo al pasar el ratón por encima */
  cursor: pointer;
}
