@import "./../../scss/variables";

.terminal {
  flex: 1 1 300px;
  padding: 0 2rem;

  .messages {
    display: block;
    font-family: monospace;
    white-space: break-spaces;
    width: 100%;
    overflow: hidden;
    padding-bottom: 16px;

    ul {
      list-style-type: none;
    }
  }

  .error-message {
    color: $error_msg_color;
    font-size: 0.8rem;
  }
}
