.title {
    text-align: center;
  }
  
  .gameBoard {
    display: flex;
    justify-content: space-around;
  }
  
  .gameWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }
  
  @media (max-width: 800px) {
    .gameBoard {
      flex-direction: column;
    }
  }
  