$bg_header_cell: #EEEEEE;
$border_header_cell: #DFDFDF;
$color_header_cell: #024E85;

$bg_cell_hover: #6BA8D0;
$bg_cell_empty: #8DB9E2;
$bg_cell_hit: #F12424;
$bg_cell_miss: #808080;

$error_msg_color: #F12424;